
/* Satrt Header */
.header{
    padding:15px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px #333;
    margin-bottom: 50px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.header .container .logo
{
    width: 60px;
}
.header .container i:first-child
{
    font-size: 24px;
    margin-right: 2px;
}
.header .container i:last-child
{
    font-size: 24px;
}
.header .container .right{
  padding-left: 7px;
  width: 60px;
}
/* End Header */
